infrastructure/aws/lambda/serverless.yml
service: product-ingestion

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  memorySize: 512
  timeout: 300
  
  environment:
    EVENT_BUS_NAME: ${self:custom.eventBusName}
    AWS_REGION: ${self:provider.region}
  
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:ListBucket
          Resource:
            - arn:aws:s3:::${self:custom.ingestionBucket}
            - arn:aws:s3:::${self:custom.ingestionBucket}/*
        - Effect: Allow
          Action:
            - events:PutEvents
          Resource:
            - arn:aws:events:${self:provider.region}:*:event-bus/${self:custom.eventBusName}
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - arn:aws:states:${self:provider.region}:*:stateMachine:${self:custom.stateMachineName}

custom:
  ingestionBucket: product-ingestion-bucket-${self:provider.stage}
  eventBusName: product-events
  stateMachineName: product-ingestion-${self:provider.stage}

functions:
  ingestProducts:
    handler: src.handler.handler
    description: Main handler triggered by S3 upload
    events:
      - s3:
          bucket: ${self:custom.ingestionBucket}
          event: s3:ObjectCreated:*
          rules:
            - suffix: .json
          existing: true
    
  stepFunctionHandler:
    handler: src.handler.step_function_handler
    description: Handler for Step Functions tasks

stepFunctions:
  stateMachines:
    productIngestion:
      name: ${self:custom.stateMachineName}
      definition:
        Comment: Product Ingestion Pipeline
        StartAt: ValidateInput
        States:
          ValidateInput:
            Type: Task
            Resource:
              Fn::GetAtt: [stepFunctionHandler, Arn]
            Parameters:
              taskType: validate
              products.$: $.products
              sourceBucket.$: $.sourceBucket
              sourceKey.$: $.sourceKey
            ResultPath: $.validation
            Next: CheckValidation
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: HandleError
          
          CheckValidation:
            Type: Choice
            Choices:
              - Variable: $.validation.valid
                BooleanEquals: true
                Next: TransformProducts
            Default: HandleInvalidInput
          
          HandleInvalidInput:
            Type: Pass
            Result:
              status: failed
              reason: Invalid input data
            End: true
          
          TransformProducts:
            Type: Task
            Resource:
              Fn::GetAtt: [stepFunctionHandler, Arn]
            Parameters:
              taskType: transform
              products.$: $.validation.products
            ResultPath: $.transformation
            Next: PublishEvents
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: HandleError
          
          PublishEvents:
            Type: Task
            Resource:
              Fn::GetAtt: [stepFunctionHandler, Arn]
            Parameters:
              taskType: publish
              canonicalProducts.$: $.transformation.canonicalProducts
              batchId.$: States.UUID()
              sourceBucket.$: $.sourceBucket
              sourceKey.$: $.sourceKey
            ResultPath: $.publishResult
            Next: Success
            Retry:
              - ErrorEquals: ["States.TaskFailed"]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: HandleError
          
          HandleError:
            Type: Pass
            Result:
              status: error
            End: true
          
          Success:
            Type: Succeed

resources:
  Resources:
    ProductEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:custom.eventBusName}
    
    ProductIngestionQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: product-ingestion-queue-${self:provider.stage}
        VisibilityTimeout: 300
        MessageRetentionPeriod: 1209600
        RedrivePolicy:
          deadLetterTargetArn:
            Fn::GetAtt: [ProductIngestionDLQ, Arn]
          maxReceiveCount: 3
    
    ProductIngestionDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: product-ingestion-dlq-${self:provider.stage}
        MessageRetentionPeriod: 1209600
    
    ProductIngestedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: product-ingested-to-sqs-${self:provider.stage}
        EventBusName:
          Ref: ProductEventBus
        EventPattern:
          source:
            - com.challenge.ingestion
          detail-type:
            - ProductIngested
        Targets:
          - Id: sqs-target
            Arn:
              Fn::GetAtt: [ProductIngestionQueue, Arn]
    
    SQSQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - Ref: ProductIngestionQueue
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service: events.amazonaws.com
              Action: sqs:SendMessage
              Resource:
                Fn::GetAtt: [ProductIngestionQueue, Arn]

plugins:
  - serverless-step-functions
  - serverless-python-requirements

package:
  individually: true
  patterns:
    - '!.git/**'
    - '!.pytest_cache/**'
    - '!tests/**'
    - '!__pycache__/**'
